*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container-card{
    background-color: lightblue;
    margin: auto;
    display: flex; /* Display flex, quebra linhas */
    justify-content: center; /* Alinha o conteudo horizontal*/
    align-items: center; /* Alinha o conteudo vertical */
    /*flex-direction: column;  Alinha em colunas */
    height: 500px;
    width: 1000px;
    gap: 30px;
    border-radius: 30px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.171);
}

.card{
    background-color: black;
    height: 150px;
    width: 200px;
}

.imagem{
    cursor: pointer;
    width: 200px;
    height: 150px;
}

header{
    padding: 20px;
}

h1{
    font-size: 2.5em;
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 400px;
    background-color: black;
}

h2{
    
    color: white;
    text-align: center;
}

@media only screen and (max-width: 400px){
    .container-card{
        flex-direction: column;
    }
}