@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-color: orange;
}

header{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 3px 5px black;
    margin-bottom: 20px;
}

main{
    padding: 20px;
}

.menu-container{
    margin-top: 10px;
    display: flex;
    gap: 30px;
}

.menu-list{
    text-decoration: none;
}

.pic{
    display: flex;
    margin: auto;
}